<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Python</li>
                    <li>C++</li>
                    <li>Git & GitHub</li>
                    <li>Java</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get this Person</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Python Midle</li>
                    <li>Java Midle</li>
                    <li>C++ Midle</li>
                    <li>Go Midle</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get this Person</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>C# Senior</li>
                    <li>C Senior</li>
                    <li>JavaScript Senior</li>
                    <li>CSS Midle</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get this Person</button>
            </div>
        </div>
    </div>
</div>
<h1>My name is Xusrav</h1>
<h3><a class="me-3 py-2 text-dark text-decoration-none" href="/">About</a></h3>
</body>
</html>